<div class="demo-container">
  <!-- Vertical Scrolling Example -->
  <div>
    <h3>Vertical Scroll</h3>

    <div class="scroll-container" appOverlayScrollSync>
      <div
        overlay-scrollbars
        id="first-scroll-container"
        class="vertical-scroll"
      >
        <div *ngFor="let item of items" class="scroll-item">
          {{ item }}
        </div>
      </div>

      <div
        overlay-scrollbars
        id="second-scroll-container"
        class="vertical-scroll"
      >
        <div *ngFor="let item of items" class="scroll-item">
          {{ item }}
        </div>
      </div>
    </div>
  </div>

  <!-- Horizontal Scrolling Example -->
  <div>
    <h3>Horizontal Scroll</h3>

    <div class="scroll-container" appOverlayScrollSync>
      <div overlay-scrollbars class="horizontal-scroll">
        <div class="horizontal-content">
          <div *ngFor="let item of items" class="horizontal-item">
            {{ item }}
          </div>
        </div>
      </div>

      <div overlay-scrollbars class="horizontal-scroll">
        <div class="horizontal-content">
          <div *ngFor="let item of items" class="horizontal-item">
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Both Directions Example -->
  <div>
    <h3>Both</h3>

    <div class="scroll-container" appOverlayScrollSync syncAxis="both">
      <div overlay-scrollbars class="both-scroll">
        <div class="both-content">
          <table>
            <tr *ngFor="let row of tableData">
              <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div overlay-scrollbars class="both-scroll">
        <div class="both-content">
          <table>
            <tr *ngFor="let row of tableData">
              <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
